<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender class="net.logstash.logback.appender.LogstashTcpSocketAppender" name="STASH">
    <destination>127.0.0.1:5000</destination>
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <mdc/>
        <context/>
        <logLevel/>
        <loggerName/>
        <pattern>
          <pattern>
            {"serviceName": "sample-app"}
          </pattern>
        </pattern>
        <threadName/>
        <message/>
        <logstashMarkers/>
        <stackTrace/>
      </providers>
    </encoder>
  </appender>
  <root level="info">
    <appender-ref ref="STASH"/>
  </root>
</configuration>